addr: ":3000"
logger:
  level: error
mysql:
  host: localhost:3306
  user: root
  password: root
  database: urbs
  parameters: loc=UTC&readTimeout=10s&writeTimeout=10s&timeout=10s&multiStatements=false
  max_idle_conns: 8
  max_open_conns: 64
channels:
  - stable
  - beta
  - canary
  - dev
clients:
  - web
  - ios
  - android
  - windows
  - macos
cache_label_expire: 10s # 用于测试
auth_keys: []
hid_key: q7FltzZWfvGIrdEdHYY # 一旦设定，尽量不要改变，否则派生出去的 HID 无法识别
open_trust:
  otid: ""
  private_keys: []
  domain_public_keys: []
